<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <br>

  <div>
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <br>

  <div>
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <br>

  <div>
    <%= form.label :published %>
    <%= form.date_field :publishedDate, as: :date, value: form.object.publishedDate %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>

